.space-default {
    margin-bottom: 1.5rem;
}

.space-small {
    margin-bottom: 0.5rem;
}

.space-xsmall {
    margin-bottom: 0.25rem;
}

.color-picker {
    width: 10rem;
    height: 2rem;
}

.space-large {
    margin-bottom: 3rem;
}

.hand-cursor {
    cursor: pointer;
}

.space-right {
    margin-right: 20px;
}

.form {
    width: 10rem;
}

.custom-paddings {
    padding-left: var(--p_left);
    padding-right: var(--p_left);
    padding-top: var(--p_top);
    padding-bottom: var(--p_top);
    text-transform: var(--caps);
    letter-spacing: var(--letter-spacing);
}

.big-writing {
    color: red;
    font-size: 48px;
}

.form-check-label {
    cursor: pointer;
}
